footer{
    padding-top: 100px;
    border-top: 1px solid #E5E5E5;
    background-color: white;
}

.p-footer{
    max-width: 1000px;
    width: 100%;
    padding:0 20px;
    margin: auto;
    position: relative;
    bottom: 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    &__logo {
        font-size: 20px;
        color: #A78754;
        font-family: "trajan-pro-3", "serif";
    }

    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    &__column {
        font-size: 14px;
        font-family: $yuMincho;
        font-weight: 500;
        font-weight: 500;
        color: rgba(17,17,17,0.8);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        margin: 0 20px;
        &:first-child{padding-left: 0;}
        &:last-child{padding-right: 0;}

        &--header{
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 24px;
            border-left: 1px solid #a5955f;
            padding-left: 16px;
            span{
                font-family: $trajan;
                display: block;
                font-size: 13px;
                color: #A78754;
                padding-bottom: 3px;
            }
        }
        ul{
            padding-left: 16px;
            li{
                padding: 2px 0;
            }
        }
    }

    &__copyright {
        background: #FFF;
        color: rgba(17,17,17,0.8);
        text-align: center;
        margin-bottom: 0;
        font-size: 10px;
        padding: 20px;
        margin-top: 80px;
        border-top: 1px solid #E5E5E5;
    }
    &__follow {
        font-family: $yuMincho;
        font-size: 14px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_list {
            display: flex;
        }
        &__item {
            height: 20px;
            padding-right: 30px;
            position: relative;
            img{height: 100%;}
            &:first-child{
                padding-right: 50px;
            }
            &:last-child{
                padding-right: 0;
            }
        }
    }

    &__right{
        max-width: 700px;
        width: 100%;
        margin-left: 20px;
    }

    &__contact{
        display: flex;
        align-items: center;
        margin-left: 30px;
        display: flex;
        align-items: center;
        margin-left: 30px;
        padding: 10px 50px;
        border: 1px solid #D3D3D3;
        &::before{
            content: '';
            width: 10px;
            height: 10px;
            margin-right: 10px;
            display: inline-block;
            background: url('../../img/mail.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}


@include mq(){
    footer{
        padding-top: 60px;
    }
    .p-footer{
        display: block;
    }

    .p-footer__logo{
        text-align: center;
    }

    .p-footer__right{
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

@include mq(sm2){
    .p-footer__list{
        justify-content: space-evenly;
    }
    .p-footer__column{
        max-width: 200px;
        padding: 10px 0;
    }
    .p-footer__follow{
        flex-direction: column-reverse;
    }
    .p-footer__contact{
        margin: 0 0 40px 0;
        width: 100%;
        padding: 10px 70px;
    }
    .p-footer__copyright{
        margin-top: 50px;
    }
}

@include mq(smt){
    .p-footer__list{
        text-align: center;
    }
    .p-footer__column{
        padding: 25px 0;
        &--header{
            border: none;
            padding: 0;
            margin-bottom: 15px;
        }
        ul{padding: 0;}
    }
}