.p-coin{
    width: 100%;
    padding-top: 130px;
    padding-bottom: 50px;
    background: rgba(167, 135, 84, 0.06);
    @include mq(){
        padding-top: 100px;
    }
}

.c-coin--list{
    display: grid;
    grid-template-columns: 450px 450px;
    gap: vw(50);
    justify-content: center;
}

.c-coinarticle{
    text-align: center;
    margin-bottom: 30px;
    h1{
        color: $text-color-braun;
        font-family: $yuMincho;
        font-size: 2.604166vw;
    }
}

.c-coin{
    padding: 25px 30px 50px;
    font-family: $yuMincho;
    color: $text-color-black;
    font-size: 16px;
    text-align: justify;
    background: linear-gradient(135deg,  #fff 40%, rgba(214, 196, 167, 0.2) 100%);
    border: 1px solid #ede6dc;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__image{
        width: 250px;
        height: 250px;
        padding: 20px;
        margin: auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
    li{
        margin: 3px 0;
        display: flex;
        dt{   min-width: 100px;   }
        dd{
            padding-left: 10px;
            margin: 0;
        }
    }
    &__name dd{
        color: $coin-name-color;
    }
    &__refPrice{
        margin-top: 40px !important;
        justify-content: space-between;
        dd{
            font-size: 30px;
            font-weight: bold;
            text-align: right;
            line-height: .9;
        }
    } 
    &__cost{
        justify-content: space-between;
    }
}


@include mq(){
    .c-coin--list{
        grid-template-columns: 50% 50%;
        gap: 0;
    }
}

@media screen and (max-width: 750px) and (min-width: 577px){
    .c-coin{
        li{
            display: block;
            margin: 10px 0;
        }
        dd{
            margin-top: 5px;
        }
        &__numberOfCoins{
            display: flex !important;
            dd{ margin: 0; }
        }
        &__refPrice{
            margin-top: vw(40) !important;
        }
        &__cost{
            display: flex !important;
            justify-content: space-between;
            dd{
                position: inherit;
                margin: 0;
            }
        } 
    }
}

@include mq(sm2){
    .c-coinarticle{
        position: relative;
        transform: initial;
        h1{
            font-size: vw2(20);
        }
    }
    
    .c-coin{
        &::after{
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 0;
            width: vw2(40);
            height: vw2(40);
            background-image: url('../../img/right_bottom.png');
            background-size: contain;
        }
    }
}

@include mq(smt){
    .c-coin--list{
        margin: auto;
        grid-template-columns: 100%;
        gap: 20px;
    }
    .c-coin{
        padding: vw2(25) vw2(30) vw2(50);
        font-size: vw2(15);
        &__image{
            padding: vw2(20);
            max-width: vw2(220);
            max-height: vw2(220);
        }
        dt{min-width: vw2(80) !important;}
        li{
            margin: vw2(10) 0;
        }
        &__refPrice dd{
            font-size: vw2(30);
        }
    }
}

