.p-coin{
    width: 100%;
    padding-top: 130px;
    padding-bottom: 50px;
    background: rgba(167, 135, 84, 0.06);
    @include mq(){
        padding-top: 100px;
    }
}

@media screen and (max-width: 750px){
    .p-coin{
        @include height_calc(1937);
        background: initial;
        display: flex;
        flex-direction: column;
        // 
    }
}


.c-coinarticle{
    text-align: center;
    margin-bottom: 30px;
    h1{
        color: $text-color-braun;
        font-family: $yuMincho;
        font-size: 2.604166vw;
    }
}

@media screen and (max-width: 750px){
    .c-coinarticle{
        position: relative;
        transform: initial;
        h1{
            font-size: calc(40/750)*100+vw;
        }
    }
}

