.c-complete{
    width: calc(900/1920)*100+vw;
    height: calc(430/1920)*100+vw;
    background: #f9f8f4;
    display: grid;
    place-items: center;
    &--header{
        font-family: YuMincho-Demibold;
        font-weight: normal;
        font-size: calc(40/1920)*100+vw;
        line-height: calc(25/1920)*100+vw;
        text-align: center;
        color: #a78754;
    }
    &--article{
        font-family: YuMincho-Demibold;
        font-weight: normal;
        font-size: calc(18/1920)*100+vw;
        letter-spacing: 0.05em;
        line-height: calc(28/1920)*100+vw;
        text-align: center;
        color: #332f2d;
    }
    button{
        width: calc(770/1920)*100+vw;
        height: calc(88/1920)*100+vw;
        background: #332f2d;
        font-family: YuMincho-Regular;
        font-weight: normal;
        font-size: calc(20/1920)*100+vw;
        letter-spacing: 0.2em;
        line-height: calc(42/1920)*100+vw;
        text-align: center;
        color: #fff;

    }
}


@media screen and (max-width: 1000px){
    
    .c-complete{
        width: calc(900/1000)*100+vw;
        height: calc(430/1000)*100+vw;
        background: #f9f8f4;
        display: grid;
        place-items: center;
        &--header{
            font-family: YuMincho-Demibold;
            font-weight: normal;
            font-size: calc(40/1000)*100+vw;
            line-height: calc(25/1000)*100+vw;
            text-align: center;
            color: #a78754;
        }
        &--article{
            font-family: YuMincho-Demibold;
            font-weight: normal;
            font-size: calc(18/1000)*100+vw;
            letter-spacing: 0.05em;
            line-height: calc(28/1000)*100+vw;
            text-align: center;
            color: #332f2d;
        }
        button{
            width: calc(770/1000)*100+vw;
            height: calc(88/1000)*100+vw;
            background: #332f2d;
            font-family: YuMincho-Regular;
            font-weight: normal;
            font-size: calc(20/1000)*100+vw;
            letter-spacing: 0.2em;
            line-height: calc(42/1000)*100+vw;
            text-align: center;
            color: #fff;
    
        }
    }
}