.c-menuitem--about{
    font-size: 0.729166vw;
    line-height: 1.666vw;
    font-weight: 400;
    font-style: normal;
    color: $text-color-black;
    font-family: $yuMincho;
    margin-right: 1.40625vw;
    &::before{
        content: '';
        margin-right: 0.572916vw;
        display: inline-block;
        width: 0.72916vw;
        height: 0.72916vw;
        background-image: url('../../img/arrow.png');
        background-size: contain;
        vertical-align: middle;
    }
}
.c-menuitem--contact{
    font-size: 0.72916vw;
    line-height: 1.666vw;
    font-weight: 400;
    font-style: normal;
    color: $text-color-black;
    font-family: $yuMincho;
    &::before{
        content: '';
        margin-right: 0.572916vw;
        display: inline-block;
        width: 0.72916vw;
        height: 0.72916vw;
        background-image: url('../../img/mail.png');
        background-size: contain;
        vertical-align: middle;
    }
}

.c-menuitem--global{
    font-size: 15px;
    font-weight: 500;
    color: $text-color-black;
    font-family: $yuMincho;
}

// _:lang(x)::-internal-media-controls-overlay-cast-button, .c-menuitem--global{
//     font-size: 7.8125vw;
//     line-height: 16.666vw;
//     font-weight: 400;
//     font-style: normal;
//     color: $text-color-black;
//     font-family: $yuMincho;
// }
