.mv_slide {
    overflow: hidden;
    position: absolute;
    width: 90.78125vw;
    height: 39.21875vw;
    content: '';
    top: 0px;
    right: 0;
    z-index: 0;
    background-color: #1A1816;
}
.mv_slide:after {
    position: absolute;
    width: 90.78125vw;
    height: 39.21875vw;
    content: '';
    top: 0px;
    right: 0;
    z-index: 0;
}

.mv_slide li {
    width: 90.78125vw;
    height: 39.21875vw;
    position: absolute;
    top: 0px;
    right:0;
    background-position: 50% 50%;
    background-repeat: none;
    z-index: 0;
    animation: imageAnimation 20s infinite 0s;
}

@keyframes imageAnimation{
    0% {
        transform: scale(1);
        transform-origin: center;
        background-image: url('../../img/mv_pc_slide_1.png');
    }
    50% {
        transform: scale(1.2);
        transform-origin: center;
        background-image: url('../../img/mv_pc_slide_1.png');
    }
    51% {
        transform: scale(1);
        transform-origin: center;
        background-image: url('../../img/mv_pc_slide_2.png');
    }

    100%{
        transform: scale(1.2);
        background-image: url('../../img/mv_pc_slide_2.png');
    }
}

@keyframes imageAnimation_sp{
    0% {
        transform: scale(1);
        transform-origin: center;
        background-image: url('../../img/mv_sp_slide_1.png');
    }
    50% {
        transform: scale(1.2);
        transform-origin: center;
        background-image: url('../../img/mv_sp_slide_1.png');
    }
    51% {
        transform: scale(1);
        transform-origin: center;
        background-image: url('../../img/mv_sp_slide_2.png');
    }

    100%{
        transform: scale(1.2);
        background-image: url('../../img/mv_sp_slide_2.png');
    }
}



@include mq(sm2) {
    .mv_slide li {
        background-size: cover;
        animation: imageAnimation_sp 20s infinite 0s;
    }

    .mv_slide li{
        height: 130vw;
    }
    .mv_slide{
        height: 130vw;
        min-height: 130vw;
    }
}

@include mq(smt){
    .mv_slide li{
        height: 150vw;
    }
    .mv_slide{
        height: 150vw;
        min-height: 150vw;
    }
}

@include mq(sm3){
    .mv_slide li{
        height: 170vw;
    }
    .mv_slide{
        height: 170vw;
        min-height: 170vw;
    }
}