.c-use{
    height: 32.239583vw;
    width: 62.5vw;
    position: relative;
    margin: 0 18.75vw 0;
    ul{
        display: grid;
        grid-template-columns: 30.572916vw 30.572916vw;
        grid-template-rows: 7.5vw 7.5vw 7.5vw;
        gap: 1.35416vw;

        height: 25.2083vw;
        width: 62.5vw;
    }
    li{
        background-color: #fff;
        font-family: $yuMincho;
        font-size: 1.45833vw;
        padding: 1.71354vw 3.322916vw 1.9322916vw 4.22916vw;
        &::before{
            content: '';
            display: block;
            position: absolute;
            transform: translate(-2.20625vw);
            width: 1.3572916vw;
            height: 1.033vw;
            background-image: url('../../img/check.png');
            background-size: contain;
        }
    }
}

.c-use--img{
    position: absolute;
    height: 32.239583vw;
    width: 100%;
    background-color: #CBAF83;
    
}

.c-use--img__inner{
    position: absolute;
    height: 32.239583vw;
    width: 100%;
    mix-blend-mode: multiply;
    background-image: url('../../img/use.png');
}

@media screen and (max-width: 750px){
    .c-use{
        background: url('../../img/sp_use.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include height_calc(1151);
        ul{
            @include width_calc(609);
            @include height_calc(923);
            grid-template-columns: calc((591/750)*100)+vw;
            grid-template-rows: calc((128/750)*100)+vw calc((128/750)*100)+vw calc((128/750)*100)+vw calc((128/750)*100)+vw calc((128/750)*100)+vw calc((128/750)*100)+vw;
            gap: calc((38/750)*100)+vw;
        }
        li{
            background-color: #fff;
            font-family: $yuMincho;
            font-size: calc((28/750)*100)+vw;

            padding: calc((29.9/750)*100)+vw calc((45.8/750)*100)+vw calc((30.1/750)*100)+vw calc((103.2/750)*100)+vw;
            &::before{
                content: '';
                display: block;
                position: absolute;
                margin: auto 0;
                transform: translate(-7vw);
                margin-top: calc((20/750)*100)+vw;
                @include width_calc(36.59);
                @include height_calc(27.86);
                background-image: url('../../img/check.png');
                background-size: contain;
            }
        }
    }
    .c-use--img{
        display: none;
    }
}