.c-usearticle{
    position: relative;
    top: -5.578125vw;
    text-align: center;
    h1{
        color: $text-color-braun;
        font-family: $yuMincho;
        font-size: 2.604166vw;
    }
}
.sell-flow{
    width: 100%;
    height: vw(400);
    margin: 30px auto;
    background: url("../../img/sell-flow.png") center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.sell-coin1{
    background: url("../../img/sell-coin1.png");
    background-size: cover;
    height: 20vw;
    background-repeat: no-repeat;
    font-size: vw(35);
}
.sell-coin2{
    background: url("../../img/sell-coin2.png");
    background-size: cover;
    height: 20vw;
    background-repeat: no-repeat;
    font-size: vw(35);
}
.sell-coin-sub{
    background-color: #eaeaea;
    font-size: 15px;
    line-height: 2;
    text-align: justify;
    height: 100%;
}
.sell-coin-step{
    background:url("../../img/cell-coin-step.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.sell-minter-register{
    background: url("../../img/sell-minter-register.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: vw(250);
    margin-top: 30px;
}
.sell-step-1{
    background: url("../../img/apply-seller.png");
    background-size: 100%;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}
.sell-step-2{
    background: url("../../img/sell-step-2.png");
    background-size: 100%;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}
.sell-step-3{
    background: url("../../img/sell-step-3.png");
    background-size: 100%;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}
.sell-step-4{
    background: url("../../img/sell-step-4.png");
    background-size: 100%;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}
.sell-back-yan{
    background-color: #f9f8f4;
    font-family:$yuMincho;
}
.t-font{
    font-family:$yuMincho;
}
.confirm-1{
    background: url("../../img/confirm-sell-1.png");
    background-size: 100% 100%;
}
.confirm-2{
    background: url("../../img/confirm-sell-2.png");
    background-size: 100% 100%;
}
.confirm-3{
    background: url("../../img/confirm-sell-3.png");
    background-size: 100% 100%;
}
@include mq(sm2){
    .c-usearticle{
        position: relative;
        @include width_calc(450);
        h1{
            color: $text-color-braun;
            font-family: $yuMincho;
            font-size: calc((40/750)*100)+vw;
        }
    }
    .sell-coin1{
        height: 40vw;
        font-size: vw2(27);
    }
    .sell-coin2{
        height: 40vw;
        font-size: vw2(27);
    }

}
@include mq(smt){
    .sell-step-1{
        width: 70px;
        height: 70px;
    }
    .sell-step-2{
        width: 70px;
        height: 70px;
    }
    .sell-step-3{
        width: 70px;
        height: 70px;
    }
    .sell-step-4{
        width: 70px;
        height: 70px;
    }
}



.e-pattern ul {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  @include mq(sm2) {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
}

.e-pattern ul li {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.12);
}

.e-pattern ul li::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border-left: 35px solid $text-color-braun;
  border-bottom: 35px solid transparent;
}

.e-pattern ul li a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.e-pattern ul li a div {
  padding-left: 25px;
  width: 55%;
  @include mq(sm) {
    padding-left: 15px;
  }
  // @include mq(sm2) {
  //   width: 50%;
  //   padding-left: 0;
  // }
}

.e-pattern ul li a div p {
  font-size: 20px;
  font-weight: bold;
  @include mq(sm) {
    font-size: 16px;
  }
  @include mq(sm2) {
    text-align: center;
    font-size: 18px;
  }
}

.e-pattern ul li figure {
  width: 45%;
  margin: 0 auto;
  text-align: center;
  // @include mq(sm2) {
  //   width: 50%;
  // }
}
