.c-featureitem{
    display: flex;
    justify-content: space-between;
    margin-top: 3.375vw;
    div{
        width:18.4375vw;
    }
}
.c-featureitem--text{

    font-family: $yuMincho;
    font-size: 1.04166vw;
    line-height: 1.6666vw;
}
.c-featureitem--trade{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $yuMincho;
    color: $text-color-braun;
    font-size: 2.8645833vw;
    &::after{
        content: '';
        margin-top: 0.72916vw;
        margin-bottom: 1.4322916vw;
        width: 8.1770833vw;
        height: 8.1770833vw;
        background-image: url('../../img/money.png');
        background-size: contain;
    }
    &::before{
        content: '01';
        font-family: $garamond;
        font-size: 13.02083vw;
        line-height: 5.2083vw;
        opacity: 13%;
    }
}

.c-featureitem--viewing{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $yuMincho;
    color: $text-color-braun;
    font-size: 2.8645833vw;
    &::after{
        content: '';
        margin-top: 0.72916vw;
        margin-bottom: 1.4322916vw;
        width: 8.1770833vw;
        height: 8.1770833vw;
        background-image: url('../../img/grass.png');
        background-size: contain;
    }
    &::before{
        content: '02';
        font-family: $garamond;
        font-size: 13.02083vw;
        line-height: 5.2083vw;
        opacity: 13%;
    }

}

.c-featureitem--management{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $yuMincho;
    color: $text-color-braun;
    font-size: 2.8645833vw;
    &::after{
        content: '';
        margin-top: 0.72916vw;
        margin-bottom: 1.4322916vw;
        width: 8.1770833vw;
        height: 8.1770833vw;
        background-image: url('../../img/graph.png');
        background-size: contain;
    }
    &::before{
        content: '03';
        font-family: $garamond;
        font-size: 13.02083vw;
        line-height: 5.2083vw;
        opacity: 13%;
    }

}

@media screen and (max-width: 750px){
    .c-featureitem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        div{
            @include width_calc(590);
            margin: 30px 0;
        }
        &--trade{
            font-size: calc((50/750)*100)+vw;
            &::after{
                content: '';
                margin-top: 0.72916vw;
                margin-bottom: 1.4322916vw;
                width: calc((230/750)*100)+vw;
                height: calc((230/750)*100)+vw;
                background-image: url('../../img/money.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
            &::before{
                content: '01';
                font-family: $garamond;
                font-size: calc((250/750)*100)+vw;
                opacity: 13%;
            }
        }
        &--viewing{
            font-size: calc((50/750)*100)+vw;
            &::after{
                content: '';
                margin-top: 0.72916vw;
                margin-bottom: 1.4322916vw;
                width: calc((230/750)*100)+vw;
                height: calc((230/750)*100)+vw;
                background-image: url('../../img/grass.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
            &::before{
                content: '02';
                font-family: $garamond;
                font-size: calc((250/750)*100)+vw;
                opacity: 13%;
            }
        }
        &--management{
            font-size: calc((50/750)*100)+vw;
            &::after{
                content: '';
                margin-top: 0.72916vw;
                margin-bottom: 1.4322916vw;
                width: calc((230/750)*100)+vw;
                height: calc((230/750)*100)+vw;
                background-image: url('../../img/graph.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
            &::before{
                content: '03';
                font-family: $garamond;
                font-size: calc((250/750)*100)+vw;
                opacity: 13%;
            }
        }
    }
    .c-featureitem--text{

        font-family: $yuMincho;
        font-size: calc((26/750)*100)+vw;
        line-height: calc((50/750)*100)+vw;
    }
}