.p-mv{
    position: relative;
    margin-left: auto;
    width: 80.78125vw;
    height: 39.21875vw;
}

@media screen and (max-width: 750px){
    .p-mv{
        width: 90.78125vw;
        @include height_calc(1092);
        display: flex;
        justify-content: flex-end;
    }    
}
