$sp_nav_h: 70px;

.l-header{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: white;
    z-index: 999;
    padding: 20px 10px 10px 30px;
    border-bottom: 1px solid #ede6dc;
}

main{
    padding-top: 100px;
}

.l-header--signup{
    margin-bottom: 5.234375vw;
    @include height_calc(200);
    padding: 1.354166vw 0 0 0;
}

.l-header--signin{
    margin-bottom: 5.234375vw;
    @include height_calc(200);
    padding: 1.354166vw 0 0 0;
}

.l-header--member{
    height: calc(140/1920)*100+vw;
    padding: 1.354166vw 0 0 2.34375vw;
}

.sp-menu{
    display: none;
}

.pc-menu{
    margin-top: 10px;
}


@include mq(){
    .l-header{
        height: $sp_nav_h;
        padding: 0 0 0 20px;
        &.is-open{
            background-color: #222222;
            border-bottom: 1px solid #a78754;
        }
    }

    main{
        padding-top: $sp_nav_h;
    }

    .c-logo{
        line-height: $sp_nav_h;
    }

    .sp-menu{
        display: flex;
    }

    .pc-menu{
        display: none;
        &.is-open{
            display: block;
            position: fixed;
            min-height: calc(100vh - $sp_nav_h);
            top: 70px;
            background: #222222;
            margin: 0;
            left: 0;
            right: 0;
            padding: 20px;
        }
    }

    .c-nav--sp__menu{
        right: 0;
        display: flex;
        // justify-content: space-between;
        justify-content: flex-end;
        height: $sp_nav_h;
        &__burgerMenu{
            width: $sp_nav_h;
            height: 100%;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            span{
                width: 30px;
                height: 3px;
                background-color:$btn-color-braun; 
                &:nth-of-type(2){
                    margin: 5px;
                }
            }
            &.is-open{
                span{
                    transition: all .4s;
                    &:nth-of-type(1){
                        position: absolute;
                        transform: rotate(-45deg);
                        transform-origin: center;
                    }
                    &:nth-of-type(2){
                        margin: 0;
                        display: none;
                    }
                    &:nth-of-type(3){
                        transform: rotate(45deg);
                        position: absolute;
                        transform-origin: center;
                    }
                }
            }
        }
        button{
            width: 200px;
            height: 100%;
            background: #a78754;
            color: #fff;
            font-size: 16px;
            text-align: center;
        }
    
    }

    .c-nav--global__menu{
        z-index: 101;
        color: #fff;
        display: block;
        li{
            color: #fff;
            font-size: 20px;
            font-family: $yuMincho;
            a, span{
                display: block;
                margin: 20px 0;
                padding: 10px 20px;
                &:hover{
                    color: white;
                    background-color: #333;
                }
            }
        }
    }

    
    .c-nav--global__info{
        position: relative;
        font-size: 20px;
        width: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        li{
            &:nth-of-type(1){
                &::before{
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
            &:nth-of-type(2){
                &::before{
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
            a:hover{
                color: white;
                opacity: .8;
            }
        }
    }

    .c-nav__right{
        flex-direction: column-reverse;
        
    }
    
    .c-btn--login, .c-btn--mypage{
        width: 50%;
        margin-right: 10px;
        p{
            font-size: 20px;
            &::after{
                font-size: 15px;
            }
        }
    }
    .c-btn--signup{
        width: 50%;
        p{
            font-size: 20px;
            &::after{
                font-size: 15px;
            }
        }
    }
}


@include mq(smt){
    .c-logo{
        font-size: 24px;
    }
    .c-nav--sp__menu button{
        width: 100px;
        font-size: 14px;
    }

    .c-nav--global__menu li{
        font-size: 18px;
    }
    .c-nav--btn__wrap{
        display: block;
        margin-top: 20px;
    }
    .c-btn--login, .c-btn--signup, .c-btn--mypage{
        width: 100%;
        margin: 5px 0;
        p{
            font-size: 16px;
            &::after{
                font-size: 14px;
            }
        }
    }
    .c-nav--global__info li{
        font-size: 16px;
    }
}

@include mq(sm3){
    .c-nav--sp__menu button{
        display: none;
    }
}