.c-pcHidden{
    display: none;
}
.c-spHidden{
    display: block;
}
@media screen and (max-width: 750px) {
    .c-pcHidden{
        display: block;
    }
    .c-spHidden{
        display: none;
    }
}

.nav-profile .nav-profile-body .ant-menu-vertical>.ant-menu-item {
    height: 2.1875rem;
    line-height: 2.1875rem;
}

.nav-dropdown {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
    border-radius: 0.325rem;
    background-color: white;
    width: 180px;
    padding: .7rem 0 .5rem 0;
}

.ant-btn-loading-icon {
    display: flex !important;
    align-items: center;
}