.p-memberAuth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
    height: calc(1018/1920)*100+vw;
    font-family: $yuMincho;
}
@media only screen and (max-width: 750px) {
    .p-memberAuth {
        height: auto;
    }
}